<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/outerPlugin/sweetalert.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href={{cssModule}} media="screen" title="no title" charset="utf-8">
</head>
<body>

  <div class="content-warp">
      {{{body}}}
  </div>

</body>
<script src="/static/js/outerPlugin/sea.js" type="text/javascript"></script>
<!-- 弹窗插件 -->
<script src="/static/js/outerPlugin/sweetalert.min.js" type="text/javascript"></script>
<!-- seajs 的全局配置  -->
<script type="text/javascript">
            seajs.config({
                base:'sea_module',
                charset:'utf-8',
                timeout:20000,
                debug:0
            })
            seajs.use('{{seaModule}}')
    </script>
</html>
