
<div class="team-activity-iamge">
		<div class="list-warp">
			<img class="img" src="/static/images/about_us/one.png">
			<img class="img" src="/static/images/about_us/two.png">
			<img class="img" src="/static/images/about_us/three.png">
		</div>
	</div>

<script type="text/javascript">
  var imagesPlay = function(){
      setInterval(function(){
          $(".img:last").insertBefore($(".img:first"));
          $(".list-warp").css("left",-814);
          $(".list-warp").animate({
              left:0
          },2000,'slow');
      },2500)
  }
</script>
