/* 引入sass模块 */
@import "../common/common.scss";
/*----------------------------------------------------------------------
    home页面的样式
-----------------------------------------------------------------------*/
/* 导航样式 */
.nav-ul{
  padding: 10px 0;
}
.nav-ul li{
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}
.nav-ul li a{
  display: block;
  float: left;
  padding: 5px 15px;
  text-decoration: none;
  color: #666;
}
.nav-ul li a:hover{
  background: rgba(0,0,0,0.1);
  border-radius: 3px;
}
p{
  text-align: center;
}
button{
  width: 150px;
  height: 34px;
  background: #ff4000;
  border: 1px solid #fc7144;
  border-radius: 8px;
  outline: none;
  color: white;
  margin: 10px 0;
}
.login{
  margin-top: 100px;
  border: 1px solid #fc5144;
  padding: 20px;
  text-align: center;
}
input{
  width: 200px;
  height: 34px;
  text-indent: 1em;
  color:blue;
  border: 2px solid #999;
  border-radius: 5px;
}
h3{
  color: #ff6000;
  padding: 5px;
}
