
<ul class="nav-ul">
  <li><a href="#"><h2>SegmentFault</h2></a></li>
  <li><a href="#">问答</a></li>
  <li><a href="#">文章</a></li>
  <li><a href="#">笔记</a></li>
  <li><a href="#">职位</a></li>
  <li><a href="#">活动</a></li>
  <li><a href="#">seaJs</a></li>
  <li><a href="#">nodeJs</a></li>
  <li><a href="#">angularJs</a></li>
  <li><a href="#">less</a></li>
  <li><a href="#">sass</a></li>
  <li><a href="#">more</a></li>
  <div style="clear:both">

  </div>
</ul>
