<style media="screen">
  .nav-ul{
    padding: 10px 0;
  }
  .nav-ul li{
    list-style: none;
    display: inline-block;
    vertical-align: middle;
  }
  .nav-ul li a{
    display: block;
    float: left;
    padding: 5px 15px;
    text-decoration: none;
    color: #666;
  }
  .nav-ul li a:hover{
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
  }
</style>

<ul class="nav-ul">
  <li><a href="#"><h2>SegmentFault</h2></a></li>
  <li><a href="#">问答</a></li>
  <li><a href="#">文章</a></li>
  <li><a href="#">笔记</a></li>
  <li><a href="#">职位</a></li>
  <li><a href="#">活动</a></li>
  <li><a href="#">seaJs</a></li>
  <li><a href="#">nodeJs</a></li>
  <li><a href="#">angularJs</a></li>
  <li><a href="#">less</a></li>
  <li><a href="#">sass</a></li>
  <li><a href="#">more</a></li>
  <div style="clear:both">

  </div>
</ul>
