
<h1>{{ title }}路由 !</h1>
<div class="about-box">
  <button type="button" id='get_data' name="button">点击获取地址</button>
  <button type="button" id='get_list' name="button">点击获取商品</button>
    <table>
        <thead>
          <tr>
            <td>城市</td>
            <td>辖区</td>
            <td>详细地址</td>
          </tr>
        </thead>
        <tbody id="tb_body">

        </tbody>
    </table>
    <table>
        <thead>
          <tr>
            <td>品牌</td>
            <td>名称</td>
            <td>价格</td>
            <td>活动</td>
          </tr>
        </thead>
        <tbody id="tb_body2">

        </tbody>
    </table>
</div>
