<h2>{{infoData.title}} </h2>
<div class="box">
    <p>
      {{infoData.info}}
      <button type="button" id="btn" name="button">点我获取信息</button>
      <textarea id="text_box" name="name" rows="3" cols="40"></textarea>
    </p>
</div>
