<h2>{{infoData.title}} </h2>
<div class="box">
    <p>
      {{infoData.info}}
      <button type="button" id="btn" name="button">点我获取信息</button><br>
      <textarea id="text_box" name="name" rows="3" cols="40"></textarea>
    </p>
    <div class="login">
        <h3>
          复制账号:  13333333333
        </h3>
        <input type="text" name="username" value="" placeholder="请输入正确的用户名！"><br><br>
        <h3>输入正确的用户名会把对应的密码显示到下面的输入框内</h3>
        <input type="text" name="password" value="" placeholder="请输入正确的密码！"><br>
        <button type="button" id="go_about" name="button">登录进入About</button><br>
    </div>
</div>
