<p id="typewriterEffect2"></p>
<div class='container'>
  <ul class="list-item">
    <li> <a class='normal' href='#'>
      </a>
      <div class='info'>
        <h3>我来自哪里</h3>
      </div>
    </li>
    <li> <a class='normal' href='#'>
      </a>
      <div class='info'>
        <h3>我要做什么</h3>
      </div>
    </li>
    <li> <a class='normal' href='#'>
      </a>
      <div class='info'>
        <h3>为什么要这样做</h3>
      </div>
    </li>
    <li> <a class='normal' href='#'>
      </a>
      <div class='info'>
        <h3>这样做的意义是什么</h3>
      </div>
    </li>
    <li> <a class='normal' href='#'>
      </a>
      <div class='info'>
        <h3>只要我想我就要做</h3>
      </div>
    </li>
    <li> <a class='normal' href='#'>
      </a>
      <div class='info'>
        <h3>我的职业方向是什么</h3>
      </div>
    </li>
    <li> <a class='normal' href='#'>
      </a>
      <div class='info'>
        <h3>我才是最帅的</h3>
      </div>
    </li>
    <li> <a class='normal' href='#'>
      </a>
      <div class='info'>
        <h3>我才是最帅的</h3>
      </div>
    </li>
  </ul>

  {{>about/part_two}}
</div>
