<h3>SS-only shadow-scrolling effect</h3>

<div class="scrollbox">
	<ul>
		<li>Not enough content to scroll</li>
		<li>2</li>
		<li>3</li>
		<li>4</li>
		<li>5</li>
    <li>2</li>
		<li>3</li>
		<li>4</li>
		<li>5</li>
    <li>2</li>
		<li>3</li>
		<li>4</li>
		<li>5</li>
    <li>The end!</li>
		<li>No shadow there.</li>
	</ul>
</div>
